body{
    background-color: rgb(175, 235, 235);
    margin: 0;
    padding: 0;
}

.perfil{
    width:200px;
    height:200px;
    border-radius:50px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.guanabara{
    width:1000px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.guanabara2{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo-projeto{
    text-align:center;
}

.titulo-linux{
    text-align:center;
}

.explain{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.return{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.auto-explain{
    text-align:center;
    font-family:'Courier New', Courier, monospace;
}

.lista{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

.lista ul{
    margin:0px;
    padding:0px;
}

.body2{
    background-color: rgb(202, 245, 245);
}

.pc{
    width:600px;
    display:block;
    margin-right:auto;
    margin-left:auto;
    border-radius:50px;
}

.linux-install{
    width:1000px;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.explain-linux{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.return2{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.titulo-py{
    text-align:center;
}
.explain-py{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.img-py{
    width:800px;
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.return3{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.contato{
    background-color:rgb(181, 252, 252);
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
}
.contato ul{
    margin:0px;
    padding:0px;
}
#assunto{
    width: 400px;
    height:200px;
}
textarea{
    padding:0px;
    margin: 0px;
    text-align:justify;
}
.formulario{
    padding:10px;
    margin:auto;
    background-color:rgb(212, 97, 82);
    width:450px;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.829);
    font-family:Arial, Helvetica, sans-serif;
}
.header-form{
    text-align:center;
}
.explain-form{
    text-align:center;
}
.return-form{
    text-align:center;
}
.campo-form{
    font-family:Arial, Helvetica, sans-serif;
}
.botao{
    background-color:rgb(216, 177, 177);
    text-align:center;
}